---
layout: default.hbs
---

<article class="is-post">

  <header>
    <h2>About</h2>
    <span class="byline"></span>
  </header>

  <div class="post">
    <p>
      What your are seeing here is a starter kit from <a href="http://prettystack.com">Prettystack</a>. Sources for this website are available on <a href="https://github.com/prettystack/assemble-blog-starter">Github</a>.
    </p>

    <p>
      Text content are taken from the novel "The Ingenious Gentleman Don Quixote of La Mancha" by Miguel de Cervantes with illustrations from Gustave Doré both retrieved from <a href="http://www.gutenberg.org/">the Gutenberg project</a>.
    </p>

    <p>
      The original design is Striped! from <a href="http://html5up.net/">HTML5 UP</a>. The design has been modified and optimized for the <a href="http://assemble.io">Assemble</a> static site generator.
    </p>

    <div class="image"><img src="/images/c07c.jpg" alt="Don quixote" /></div>
  </div>

</article>
